<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<div id="animation" class="map-container">
    <img src="{{ url_for('static', filename='animation.gif') }}" alt="Animacja">
    <div id="mapPin" class="map-pin">
        <span class="material-symbols-outlined location-icon">place</span>
    </div>
</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
